.App {
  text-align: center;
}
body{
  background-color: rgb(75, 75, 75);
  margin-bottom: 4rem;
  margin-top: 3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
